.banner-boarding{
    height: 15rem;
    /* background-color: red; */
    width: 100%;
    /* background-color: whitesmoke; */
   display: flex;
   justify-content: center;
    position: relative;
    top: 90px;
    margin-bottom:120px ;
    z-index: -1;
}
.banner-boarding .inner-boarding{
  background-image: linear-gradient(to right, rgb(246, 42, 208), white);
  height: 15rem;
  width: 80%;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  /* align-items: center; */
}
.banner-text{
  padding-top: 30px;
  color: rgb(237, 237, 228);
  width: 80%;
  font-size: 20px;
}
.banner-image{
  width: 30%;
  
}