.banner-boarding {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 90px;
  margin-bottom: 120px;
  z-index: -1;
}

.banner-boarding .inner-boarding {
  border-radius: 12px;
  /* display: flex; */
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-text {
  padding-top: 30px;
  color: rgb(237, 237, 228);
  width: 80%;
  font-size: 20px;
}

.logo-container {
  display: flex; /* Arrange images in a row */
  overflow: hidden; /* Hide overflowing images */
  /* width: 100%;  */
  
  position: relative;
  align-items: center;
  justify-content: center; 
  /* background-color: aqua; */
}

.logo { 
  width: 8%;  
  cursor: pointer;
  margin-left: 20px;
  /* margin-right: 10px;  */
  transition: transform 0.1s ease-in-out; 
  animation: move 8s linear infinite; /* Apply animation */
}

@keyframes move {
  0% {
    transform: translateX(100%); /* Start from outside on the right */
  }
  100% {
    transform: translateX(-100%); /* End up outside on the left */
  }
}
