.boarding{
    height: 40rem;
    width: 100%;
    /* background-color: whitesmoke; */
    /* background-image: linear-gradient( to bottom,#87A2FF,white); */
    display: flex;
    color: black;
    position: relative;
    top: 50px;
    z-index: -1;
    margin-bottom: 30px;
}
.boarding-text{
width: 50%;
/* background-color: red; */
padding-left: 10%;
padding-top: 250px;
font-family: Arial, Helvetica, sans-serif;
font-size: 2rem;

}
.boarding-image img{
width: 100%;

/* background-color: blue; */
}
.boarding-text p{
    font-size: 20px;
    margin: 0px;
    padding: 8px;
    line-height: 0px;
}
.boarding-text h5{
    margin: 0px;
}