.boarding{
    height: 40rem;
    width: 100%;
    /* background-color: whitesmoke; */
    /* background-image: linear-gradient( to bottom,#87A2FF,white); */
    display: flex;
    color: black;
    position: relative;
    top: 50px;
    z-index: -1;
    margin-bottom: 30px;
}
.boarding-text{
width: 50%;
/* background-color: red; */
padding-left: 10%;
padding-top: 250px;
font-family: Arial, Helvetica, sans-serif;
font-size: 2rem;

}
.boarding-image img{
width: 100%;

/* background-color: blue; */
}
.boarding-image{
    /* width: 70%; */
    /* background-color: blue; */
}
.boarding-text p{
    font-size: 20px;
    margin: 0px;
    padding: 8px;
    line-height: 0px;
}
.boarding-text h5{
    margin: 0px;
}
@media (max-width: 480px) {
    .boarding{
        /* display: flex; */
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0px;
        /* width: 480px; */
        /* background-color: black; */
        /* align-content: end; */
        /* height: 100%; */
    }
    .boarding-text{
        width: 80%;
        padding-left: 2%;
        padding-top: 20px;
        font-size: 0.8rem;
        margin-bottom: 10px;
       
        /* background-color: aquamarine; */
    }
    .boarding-text p{
        /* margin-bottom: 20px; */
        font-size: 0.8rem;
    }
    .boarding-image{
        align-items: center;
        padding: 0%;
        /* background-color: aqua; */
        margin: 0px;
    }

}
