
.shop{

}
.new-arival{
    padding: 2% 8% 2% 8%;
}
.featured, .new-arival-container{
   
    /* background-color: brown; */
    padding: 2% 0px 2% 0px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit ,minmax(15rem,1fr)); */
    grid-template-columns: repeat(4, 1fr);
}
.featured{
    padding: 2% 8% 2% 8%; 
}
.featured-text, .new-arival-text{
/* display: flex; */
/* height: 80px; */
align-content: center;
background-image: linear-gradient(to right, #FF70EA4F,white, white);
margin-left: 5%;
padding: 0.6%;
padding-left: 1.5%;
font-size: 15px;
border-radius: 5px;
/* width: 40%; */
}
.new-arival-text{
    display: flex;
    /* padding: 0px;
    margin: 0px;
    width: 100%; */
    /* padding: 0px; */
    margin: 0px;
    justify-content: center;
    
}
.new-arival-text div p, h2{
 text-align: center;
 line-height: 3px;
}
.new-arival-text div{
    padding: 15px;
}
.women-text h2{
    /* text-decoration: underline; */

    color: green;
}
.shop-banner{
    height: 300px;
    background-color: yellowgreen;
    margin: 70px;
}