
.shop{

}
.new-arival{
    padding: 2% 8% 2% 8%;
}
.featured, .new-arival-container{
   
    /* background-color: brown; */
    padding: 2% 0px 2% 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(20rem,1fr));
    grid-gap: 0.6rem;
    /* grid-template-columns: repeat(4, 1fr); */
}
.featured{
    padding: 2% 8% 2% 8%; 
}
.featured-text, .new-arival-text{
/* display: flex; */
/* height: 80px; */
align-content: center;
background-image: linear-gradient(to right, #FF70EA4F,white, white);
margin-left: 5%;
padding: 0.6%;
padding-left: 1.5%;
font-size: 15px;
border-radius: 5px;
/* width: 40%; */
}
.new-arival-text{
    display: flex;
    /* padding: 0px;
    margin: 0px;
    width: 100%; */
    /* padding: 0px; */
    margin: 0px;
    justify-content: center;
    
}
.new-arival-text div p, h2{
 text-align: center;
 line-height: 3px;
}
.new-arival-text div{
    padding: 15px;
}
.women-text h2{
    /* text-decoration: underline; */

    color: green;
}
.shop-banner{
    height: 300px;
    background-color: yellowgreen;
    margin: 70px;
    background-image: url('../../components/assets/shop-banner.jpg');
    /* background-size: cover; */
   
   
    /* background-repeat: no-repeat; */
    border-radius: 10px;
}

@media (max-width: 480px) {
    .featured,.new-arival-container{
    /* display: grid; */
    width: 100%;
    grid-template-columns: repeat(2 ,minmax(13rem,1fr));
    grid-gap: 1rem;
      /* background-color: aqua; */
      padding: 6%;
      margin: 0px;
      align-items: center;
    }
    .shop-banner{
        height: 120px;
        width: 100%;
        margin: 10px;
        margin-left: 30px;
        background-size: contain;
        ;
        
    }
    .shop-banner-container{
        width: 480px;
        /* height: 100px; */
        display: flex;
        justify-content: center;
        /* background-color: aqua; */
    }
    .new-arival-container{
        padding: 0% ;
        margin: 20px 0px;
        width: 100%;
        align-items: center;
        /* background-color: black; */
    }
    .new-arival{
        padding: 7%;
    }
    .featured-text{
        padding: 0.1%;
        padding-left: 2%;
        font-size: 0.8rem;
    }
    .new-arival-text{
      font-size: 0.6rem;
      width: 420px;
    }
  }