.item-container{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(20rem,1fr));
    padding: 2% 0% 2% 0%;
    transition: padding 5s ease;
    margin: 30px;
    justify-content: center;
   
    /* background-color: black; */
}

@media (max-width: 480px) {
  .item-container{
    /* width:100vw; */
    grid-template-columns: repeat(2 ,minmax(10rem,1fr));
    grid-gap: 0.5rem;
      /* background-color: red; */
      padding: 5%;
      margin: 10px;
      align-items: center;
      justify-content: center;
  }
}
@media (max-width: 700px ) and (min-width:480px){
  .item-container{
    grid-template-columns: repeat(2 ,minmax(10rem,1fr));
    
  }
}

