.footer{
    /* height: 200px; */
    background-color:  #2E2E2E;
    margin-top: 40px;
    color: white;
    padding: 20px 0px 40px 10%;
    
}
.footer-title{
    display: flex;
    /* justify-content: center; */
}
.footer p{
    font-size: 15px;
    color: rgb(163, 160, 160);
}
.social-media{
    margin: 20px 0px 40px 0px;
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next line */
    gap: 20px;
}

.footer-cpy{
    display: flex;
    /* justify-content: center; */
    margin-top: 10px;
}
@media (max-width: 480px) {
    .footer {
      padding: 20px 0px 40px 5%;
      width: 480px;
      
    }
  }