.products{
    /* height: 600px; */
    width: 100vw;
    /* background-color: black; */
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(30rem,1fr));
    grid-gap: 1rem;
    /* margin-top: 30px; */
    padding: 100px 0% 20px 0%;
}
.product-image{
    /* padding: 10%; */
    /* width: 100%; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.big-image{
    height: 525px;
    /* min-width: 25rem; */
    /* max-width: 25rem; */
    /* background-color: green; */
    margin-left: 20px;
}
.big-image img,.small-image div img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}
.small-image div img:hover{
    opacity: 0.8;
}
.small-image div{
    height: 8rem;
    width: 9rem;
    margin-bottom: 4px;
    /* background-color: blue; */
}

.product-info{
    width: 100vw;

    /* background-color: aqua; */
    
}
.product-info button{
    background-color: red;
    border: none;
    color: white;
    /* height: 30px; */
    width: 15rem;
    padding: 10px;
    border-radius: 6px;
    margin-top: 30px;
    
}
.product-info p{
    margin-top: 15px;
}
.product-info div button{
 /* margin-left: 5px; */
 background-color: whitesmoke;
 width: 5rem;
 color: black;
 cursor: pointer;
}

input{
    width:15rem;
    margin: 10px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    background-color: transparent;
    text-align: center;
}
.price-text{
    font-size: 20px;
    font-weight: 500;
    color: red;
}
@media (min-width: 800px){
    .products{
        padding: 100px 50px 50px 50px;
    }
    .big-image{
        min-width: 25rem;
        max-width: 25rem;
    }

}
@media (max-width: 480px) {
    .products{
        padding: 0px;
    }
    .product-image{
        margin: 0px;
     margin-top: 60px;
         padding: 0%;
         /* width: 80%; */
        /* background-color: aquamarine; */
       display: flex;
        flex-direction: column-reverse;
        /* grid-template-columns: repeat(auto-fit ,minmax(1fr,1fr)); */
        align-items: center;
        justify-content: center;
        /* width: 480px; */
        width: 100vw;
       
       
        
        
    }
    .small-image div{
        height: 100%;
        width: 100%;
    }
    .small-image{

        margin-top: 10px;
        display: flex;
        width: 95vw;
       gap: 0.5rem;
       /* background-color: black; */
        /* grid-template-columns: repeat(auto-fit ,minmax(7rem,1fr)); */
    }
    .big-image{
        margin: 0px;
        /* background-color: green; */
        margin-top: 1rem;
        /* margin-left: 0.5rem; */
       
       
        
        
    }
    .big-image img{
        width: 100%;
        height: 100%;
    }
    .product-info{
       
        width: 100vw;
        /* background-color: rgb(55, 67, 67); */
        padding-left: 0%;
        /* margin: 0px; */
       
    }
    .product-info h1{
        margin-left: 10px;
        font-size: 20px;
        /* background-color: blue; */
    }
  }