.products{
    /* height: 600px; */
    /* width: 100%; */
    /* background-color: black; */
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(30rem,1fr));
    grid-gap: 1rem;
    /* margin-top: 30px; */
    padding: 100px 100px 50px 100px;
}
.product-image{
    /* padding: 10%;
    width: 80%; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.big-image{
    /* height: 50%; */
    /* width: 20rem; */
    /* background-color: green; */
    margin-left: 20px;
}
.big-image img,.small-image div img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}
.small-image div img:hover{
    opacity: 0.8;
}
.small-image div{
    height: 8rem;
    width: 9rem;
    margin-bottom: 4px;
    /* background-color: blue; */
}

.product-info{
    /* width: 100%; */
    /* background-color: aqua; */
    padding-left: 2%;
}
.product-info button{
    background-color: red;
    border: none;
    color: white;
    /* height: 30px; */
    width: 15rem;
    padding: 10px;
    border-radius: 6px;
    margin-top: 30px;
    
}
.product-info p{
    margin-top: 15px;
}
.product-info div button{
 margin-left: 5px;
 background-color: whitesmoke;
 width: 5rem;
 padding: 1%;
 color: black;
 cursor: pointer;
}

input{
    width:15rem;
    margin: 10px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    background-color: transparent;
    text-align: center;
}
.price-text{
    font-size: 20px;
    font-weight: 500;
    color: red;
}
@media (max-width: 480px) {
    .products{
        padding: 0px;
    }
    .product-image{

        /* background-color: aquamarine; */
        display: grid;
        /* grid-template-columns: repeat(auto-fit ,minmax(1fr,1fr)); */
        align-items: center;
        /* width: 480px; */
    }
    .small-image div{
        height: 7rem;
        width: 7rem;
    }
    .small-image{
        margin-top: 70px;
        margin-left: 5px;
        display: grid;
        grid-template-columns: repeat(auto-fit ,minmax(7rem,1fr));
    }
    .big-image{
       
        /* background-color: green; */
        margin-left: 0px;
    }
    .big-image img{
        width: 100%;
        height: 100%;
    }
    .product-info{
        /* background-color: blue; */
    }
  }