.side-bar{
    width: 300px;
    background-color: #1E1E1E;
    height: 1000px;
    margin-top: 20px;
    /* height: 93vh; */
    /* border-top-right-radius: 20px; */

    
}
.button-cont{

/* background-color: red; */
/* margin: 0px 0px 30px 0px; */
padding: 40px 30px 0px 30px;


}
.sidebar-button{
    
    color:#8E05C2;
}
button .button-icon{
    font-size: 33px;
}


@media (max-width: 1400px) {
    .side-bar{
        width: 100px;
    }
    button p{
        display: none;
    }
    .button-cont{
        padding-left:20px;
    }
    button .button-icon{
        font-size: 33px;
    }
}