
.international-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.international-spacer{
  margin-bottom: 30%;
}

@media screen and (max-width: 480px) {
  .international-banner{
   
    height: 140px;
    background-size: contain;
    /* background-color: aquamarine; */
  }
}