.navbar{
    height: 80px;
    /* width: 100%; */
    background-color: #292727;
    color: white;
    display: flex;
    padding: 0px 40px 0px 100px;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px solid white; */
    position: fixed;
    width: 100%;
    z-index: 11;
    
}
.logo{
    
}