.item-card{
    height: 25rem;
    width: 20rem;
    background-color: whitesmoke;
    
    margin-bottom: 20px;
    /* border: 2px solid greenyellow; */
    /* display: flex; */
    /* align-items: end; */
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 10px 8px rgba(58, 53, 56,0.2);
   
}

.item-card-info{
    padding-left: 20px;
    padding-bottom: 10px;
    align-content: end;
}
.item-card-info h4,p{
    margin: 0px;
}
.item-card :hover{
     /* transform: scale(1.1);
    transition: 0.5s; */
    
}
.button-container{
    /* background-color:red; */
    display:flex;
    justify-content:flex-end;
    margin: 10px 20px 60% 0px;
    z-index: -6;
      
}
