.women{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(15rem,1fr));
    padding: 40px;
}
.women-boarding{
    height: 15rem;
    /* background-color: red; */
    width: 100%;
    /* background-color: whitesmoke; */
   display: flex;
   justify-content: center;
    position: relative;
    top: 90px;
    margin-bottom:120px ;
    z-index: -1;
}
.women-boarding .inner-boarding{
  background-color: pink;
  height: 15rem;
  width: 80%;
  border-radius: 12px;
  
}