.table-container{
  padding: 30px 60px 0px 60px;
  /* height: 500px; */
   /* width: 70%; */
   /* color: gray; */
   position: relative;
   top: 50px;     
   z-index: -2;
   
}
.cart-total{
    padding: 60px;
    color: #87A2FF;
}

/* .table-container div::-webkit-scrollbar{
    width: 0px;
} */

